.homeContainer{
    width: 100%;
    height: 100%;
    display: flex;
}
.formContainer{
    width: 60%;
    min-height: 30rem;
}
.storyContainer{
    /* background:url("../../assets/Create.gif"); */
    width: 40%;
    height: 30rem;
    position: relative;
}

.bgsq{
    width: 100%;
    transform: rotate(1deg);
}

.bgs{
    position: absolute;
    top: -10rem;
    right: -10rem;
    width: 156%;
    padding: 0;

}
@media (height <= 910px) {
    .bgs{
        width: 55rem;
        padding: 0;
    
    }
  }